---
import AboutHeroImage from '../assets/blog-placeholder-about.jpg';
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="Acerca de JC"
	description="Conoce al creador de Cachando la bola"
	pubDate={new Date('February 05 2026')}
	heroImage={AboutHeroImage}
>
	<p>
		¡Hola amigos, soy <strong>JC</strong>! Ingeniero de QA de Software de profesión, pero un apasionado de los deportes por convicción. ⚽
		Siento que me robé una línea de una serie de <i>Disney Channel</i> llamada "<a href="https://en.wikipedia.org/wiki/Liv_and_Maddie">Liv y Maddie</a>", donde su frase era:
		<blockquote><i>Hermanas por casualidad, amigas por elección</i></blockquote>
		Suena similar 
	</p>

	<p>
		Contando un poco de mí, la verdad es que desde chico me han gustado los deportes, pero hoy en día soy más apasionado en conocer.
		De niño uno se concentraba en conectar con el jugador de la selección mexicana más emblemático, por ejemplo Rafa Márquez, o tiempo más atrás jugadores como Hugo Sánchez, Luis García, Jorge Campos.
		Sin embargo, ya de grande te interesa saber como es el proceso de la selección. También gracias a video juegos como el "FIFA", vas aprendiendo formas de juego, posiciones, roles de jugadores, etc.
	</p>

	<p>
		Continuando con lo que platicaba, desde chico me interesaba el fútbol, por consiguiente el Mundial de Estados Unidos 94 fue el <i>boom</i> para mi generación cuando fuimos niños.
		¡Pero también los Juegos Olímpicos! Recuerdo de niño haber visto el encendido del pebetero olímpico de Barcelona 92, ¡recuerdo que fue algo muy increíble de ver!
	</p>

	<p>
		Me acuerdo mucho del Mundial de fútbol del 94, me acuerdo haber ido escuchando el juego contra Italia en la radio del taxi camino a casa, y llegar a ver el segundo tiempo para ver en vivo el gol de Marcelino Bernal para el empate, ¡fue sensacional!
		También me acuerdo mucho de las olimpiadas de verano de Atlanta 96, aquella donde en Gimnasia Artística el equipo de Estados Unidos tenía en su equipo a Dominique Moceanu, a quien por tener el mismo entrenador de la legendaria Nadia Comăneci, se le comparaba con ella, y recuerdo a mi mamá contarme de esos perfectos <strong>10</strong>, y como ocupaban poner <strong>1.00</strong> porque no estaban preparados para poner el 10 perfecto. 
	</p>
</Layout>
