---
import AboutHeroImage from '../assets/blog/avatar-jc-creador-blog-deportes-cachando-la-bola.webp';
import Layout from '../layouts/BlogPost.astro';
import { Image } from 'astro:assets';
---

<Layout
	title="Acerca de JC"
	description="Conoce al creador de Cachando la Bola"
	pubDate={new Date('February 05 2026')}
	heroImage={AboutHeroImage}
	heroImageAlt="Ilustración de JC, creador de 'Cachando la Bola', rodeado de elementos de deportes como fútbol, fútbol americano, curling, gimnasia artística, patinaje artístico, atletismo de 100 metros y automovilismo de 'Fórmula 1', con el Monte Olímpo de fondo."
>
	<p>
		¡Hola amigos, soy <strong>JC</strong>! Ingeniero en Computación, Quality Assurance de Software de profesión, pero un apasionado de los deportes por convicción.
	</p>

	<p>
		Siento que me robé una línea de una serie de <i>Disney Channel</i> llamada "<a href="https://en.wikipedia.org/wiki/Liv_and_Maddie" target="_blank" rel="noopener noreferrer">Liv y Maddie</a>", donde su frase era:
		<blockquote><i>Hermanas por casualidad, amigas por elección</i></blockquote>
	</p>
	<p>
		Suena similar 😅
	</p>

	<p>
		Contando un poco de mí, mi nombre es Juan Carlos Madrigal, pero en general todos me dicen "JC". La verdad es que desde chico me han gustado los deportes, pero hoy en día soy más apasionado en conocer.
		De niño uno se concentraba en conectar con el jugador de la selección mexicana más emblemático, por ejemplo Rafa Márquez, o tiempo más atrás jugadores como Hugo Sánchez, Luis García, Jorge Campos.
	</p>
	
	<p>
		Sin embargo, ya de grande te empiezas a interesar sobre cómo es el proceso de la selección nacional. También gracias a video juegos como el "FIFA", vas aprendiendo formas de juego, posiciones, roles de jugadores, etc.
	</p>

	<p>
		Continuando con lo que platicaba, desde chico me interesaba el fútbol, el Mundial de Estados Unidos 94 fue el <i>boom</i> para mi generación cuando fuimos niños.
		¡Pero también los Juegos Olímpicos! Recuerdo de niño haber visto el <a href="https://www.youtube.com/watch?v=gmRf41SVHS4" target="_blank" rel="noopener noreferrer">encendido del pebetero olímpico de Barcelona 92</a>, ¡y recuerdo que fue algo muy increíble de ver!
	</p>

	<p>
		Me acuerdo mucho del Mundial de fútbol del 94. Recuerdo haber ido escuchando el juego de México contra Italia en la radio del taxi camino a casa, y llegar a ver el segundo tiempo para ver en vivo el <a href="https://www.youtube.com/watch?v=BLt1IgcAPBE" target="_blank" rel="noopener noreferrer">gol de Marcelino Bernal</a> para el empate, ¡fue sensacional!
	</p>
	
	<p>
		También me acuerdo mucho de las olimpiadas de verano de Atlanta 96, aquella donde en Gimnasia Artística el equipo de Estados Unidos tenía en su equipo a Dominique Moceanu, a quien por tener el mismo entrenador de la legendaria Nadia Comăneci, se le comparaba con ella, y recuerdo a mi mamá contarme de <a href="https://www.youtube.com/watch?v=2tyEL6QS1hU" target="_blank" rel="noopener noreferrer">esos <strong>10</strong> perfectos</a>, y cómo ocupaban poner <strong>1.00</strong> porque no estaban preparados para poner el 10 perfecto. En la escuela siempre me gustó mucho la materia de Historia, y la historia en general siempre me ha gustado, entonces que me comentara mi mamá de cómo Nadia Comăneci conseguía esas calificaciones, y como era algo tan especial para la época, era algo que me encantaba escuchar.
	</p>

	<p>
		Pasemos por otro deporte que me gusta mucho que es la <strong>NFL</strong>.
	</p>
	
	<p>
		Tengo que decir que no me interesó nunca mucho este deporte hasta que una vez en la Universidad hablaban mucho del evento del Super Bowl. Mi tío y mi abuelito veían mucho este deporte, pero yo no entendía qué era lo que les gustaba del deporte.
	</p>
	<p>
		Al año siguiente, un amigo en la Universidad me comentaba del deporte, y lo que me encantó más que el propio deporte, fue lo de los comerciales millonarios, por lo que me llamó mucho la atención y decidí darle una oportunidad.
	</p>
	<p>
		Lo primero que descubrí es que tales comerciales, solamente lo pasan en las transmisiones de señales americanas 😅, por lo que ese Super Bowl no me entretuvo mucho, me gustó el show de medio tiempo (<a href="https://www.youtube.com/watch?v=FWRQ0r-RsW8" target="_blank" rel="noopener noreferrer">un Beatle, claro que si</a>), pero en sí del juego, no supe que pasaba.
	</p>
	<p>
		Así pasó el tiempo hasta la siguiente temporada, y decidí que iba a darle la oportunidad bien, iba a ver los juegos y tratar de entenderlo. Así fue como miré las transmisiones de TV Azteca con <a href="https://www.youtube.com/@ENRIQUEGARAY" target="_blank" rel="noopener noreferrer">Enrique Garay</a>, a quien sin saberlo en aquel entonces, ya lo había escuchado por narraciones de la NBA alguna vez.
	</p>
	<p>
		Enrique Garay, con su estilo de narración y su pasión por este deporte, me contagió esa emoción, y de a poco iban comentando las reglas, y como se jugaba el juego, hasta que llegué a ese otro Super Bowl XL (me acuerdo mucho de los promocionales donde decían algo como "yo soy XL", algo por el estilo), ¡y fue la primera vez que pude disfrutar un Super Bowl!
	</p>
	<p>
		Desde entonces, en mi casa hemos tenido la tradición de hacer carne asada para el día del Super Bowl.
	</p>

	<p>
		Con esto les cuento un poco de mí, algo de lo que se verá en este blog, transmitir las emociones, las sensaciones, algo de análisis y estadísticas (siempre que se pueda), pero sobre todo, la opinión sobre el juego o evento deportivo, dando crítica para bien en algunos sectores, pero siempre con la mayor pasión posible.
	</p>
	
	<p>
		¡Bienvenidos a "<i>Cachando la Bola</i>" con JC! Espero que disfruten este viaje tanto como yo disfruto escribirlo.
	</p>
</Layout>
